* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    position: relative;
    transition: .5s ease;
}

.tree {
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-section {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 64px;
    width: 100%;
}

#profile__img {
  border-radius: 270px;
  
}

.share_button {
    left: 70%;
    top: 6%;
    position: absolute;
}

#twitter {
    margin-top: 24px;
    width: 1152px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#slack {
    margin-top: 24px;
    width: 1152px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 1;
    display: none;
}

#btn__zuri {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#books {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#book__python {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#pitch {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#book__design {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}


#twitter__link {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 1152px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}

a {
    text-decoration: none;
}

#twitter_link {
    margin-top: 32px;
}

.social_section {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    padding: 24px 0px;
    gap: 64px;
    width: 1216px;
    height: 60px;
    background: #FFFFFF;
    flex: none;
    flex-grow: 0;
}


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    margin-top: 10px;
    min-height: 140px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eaecf0;
    /* gap: initial; */
}



footer .zuriLogo h2 {
    font-size: 24px;
    font-weight: bold;
    display: block;
}

footer .zuriLogo h2 span {
    background: #e7332b;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    height: 8px;
    width: 8px;
    font-size: 13px;
}


footer .zuriText p {
    color: #667085;
    font-size: 14px;
    font-weight: lighter;
    display: block;
}






@media screen and (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        height: 196px;
        padding: 32px 0px;
    }

    .zuriLogo {
        padding-right: 220px;
    }

    footer .zuriLogo h2 {
        font-size: 18px;
    }

    .zuriText {
        padding-right: 150px;
    }

    .i4gLogo {
        padding-right: 260px;
    }
}



@media screen and (max-width: 1500px) {
    #twitter__link{
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }


    #btn__zuri{
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }

    #books{
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }

    #book__python{
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }

    #pitch{
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }

    #book__design{
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }

    #contact {
        padding: 24px 32px;
        width: 95%;
        height: 68px;
    }
}

